<div class="Modal-backdrop"></div>
<div ui-view="modal"
     class="Modal-holder"
     autoscroll="false">
    <form name="_form"
          class="form-horizontal"
          novalidate
          ng-submit="submitForm(_form, 'config');">
        <div class="panel panel-primary panel-modal panel-area">
            <!--Current {{view.ContextService.currentConfig}}-->
            <div class="panel-heading">
                <h4 class="col-xs-12 panel-title">Config Editor</h4>
            </div>
            <div class="panel-body" style="padding-top:2em;">
                <div class="input-controls">
                    <div class="form-group">
                        <label class="col-xs-2" for="f_context">Context</label>
                        <div class="col-xs-10">
                            <input type="text"
                                   class="form-control"
                                   name="f_context"
                                   readonly
                                   ng-value="view.ContextService.currentConfig.context">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2" for="f_key">Key</label>
                        <div class="col-xs-10">
                            <input type="text"
                                   class="form-control"
                                   name="f_key"
                                   readonly
                                   ng-value="view.ContextService.currentConfig.key">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2" for="f_description">Description</label>
                        <div class="col-xs-10">
                            <input type="text"
                                   class="form-control"
                                   name="f_description"
                                   readonly
                                   ng-value="view.ContextService.currentConfig.description">
                        </div>
                    </div>
                    <div class="form-group"
                         ng-class="{ 'has-error' : _form.f_value.$invalid && _form.f_value.$touched,
                          'has-success': _form.f_value.$valid && _form.f_value.$touched}">
                        <label class="col-xs-2" for="f_value">Value</label>
                        <div    ng-if="view.ContextService.currentConfig.datatype === 'boolean' ||
                                    view.ContextService.currentConfig.datatype === 'bool'"
                                class="col-xs-10">
                            <select class="form-control"
                                    ng-options="item as item for item in ['true','false']"
                                    ng-init="_form.entity.value=view.ContextService.currentConfig.value"
                                    name="f_value"
                                    ng-model="_form.entity.value">
                            </select>
                        </div>
                        <div    ng-if="view.ContextService.currentConfig.datatype === 'number' ||
                                    view.ContextService.currentConfig.datatype === 'int' ||
                                    view.ContextService.currentConfig.datatype === 'decimal'"
                                class="col-xs-10">
                            <input  class="form-control"
                                    type="number"
                                    name="f_value"
                                    ng-value="view.ContextService.currentConfig.value"
                                    ng-model="_form.entity.value"
                                    maxlength=64 />
                        </div>
                        <div    ng-if="view.ContextService.currentConfig.datatype === 'string' ||
                                    view.ContextService.currentConfig.datatype === 'text'"
                                class="col-xs-10">
                            <input  class="form-control"
                                    type="text"
                                    name="f_value"
                                    ng-value="view.ContextService.currentConfig.value"
                                    ng-model="_form.entity.value"
                                    maxlength=512>
                        </div>
                    </div>
                </div>
            </div><!-- panel-body-->
            <div class="panel-footer form-command">
                <button ng-disabled="_form.$invalid"
                        type="submit"
                        class="btn btn-sm btn-primary">Save</button>
                <button ng-click="cancelForm(_form)"
                        type="button"
                        class="btn btn-sm btn-primary">Cancel</button>
                <button ng-click="resetForm(_form);"
                        type="reset"
                        class="btn btn-sm btn-primary">Reset</button>
            </div>
        </div>
    </form>
</div>

