<div class="container">
  <ul class="nav navbar-nav">
    <li ng-class="{ active: isActive('/members/dashboard')}"><a ui-sref="members.dashboard">Dashboard</a></li>
    <li ng-class="{ active: isActive('/members/shows')}"><a ui-sref="members.shows">Shows</a></li>
    <li ng-class="{ active: isActive('/members/products')}"><a ui-sref="members.products">Products</a></li>
    <li ng-class="{ active: isActive('/members/profile')}"><a ui-sref="members.profile">Profile</a></li>
    <li ng-class="{ active: isActive('/members/events')}"><a ui-sref="members.events">Events</a></li>
    <li><a href="#" ng-click="memberLogout()">Logout</a></li>
  </ul>
</div>
