<div class="Modal-backdrop"></div>
<div ui-view="modal"
     class="Modal-holder"
     autoscroll="false">
  <form name="_form"
        class="form-horizontal"
        novalidate
        ng-submit="submitForm(_form, 'showdate');">
    <div class="panel panel-primary panel-modal panel-area">
      <!--CURRENT {{view.ContextService.currentShowDate}}-->
      <div class="panel-heading">
        <h4 class="panel-title col-xs-6">Show Date Editor</h4>
        <!--<h4 class="panel-title col-xs-9">{{view.ContextService.currentShow.url}}</h4>-->
      </div>
      <div class="panel-body" style="padding-top:2em;">
        <div class="input-controls">
          <div class="form-group"
             ng-class="{  'has-error' : _form.f_dateofshow.$invalid && _form.f_dateofshow.$touched}">
          <!--{{view.ContextService.currentShow.announcedate}}-->
          <label class="col-xs-3" for="f_dateofshow">Date</label>
          <div class="col-xs-9">
            <div class="dropdown">
              <a class="dropdown-toggle" id="dropdown2" role="button"
                 data-toggle="dropdown" data-target="#" href="#">
                <div class="input-group">
                  <input type="text"
                         class="form-control"
                         name="f_dateofshow"
                         data-date-time-input="ddd YYYY/MM/DD hh:mm A"
                         ng-init="_form.entity.dateofshow=view.ContextService.currentShowDate.dateofshow"
                         data-ng-model="_form.entity.dateofshow"
                          ng-required="true">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker data-ng-model="_form.entity.dateofshow"
                                data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
              </ul>
            </div>
          </div>
          </div>
          <div class="form-group"
               ng-class="{  'has-error' : _form.f_doorsopen.$invalid && _form.f_doorsopen.$touched}">
            <label class="col-xs-3" for="f_doorsopen">Doors</label>
            <div class="col-xs-9">
              <input type="text"
                     class="form-control"
                     name="f_doorsopen"
                     ng-model="_form.entity.doorsopen"
                     ng-init="_form.entity.doorsopen=view.ContextService.currentShowDate.doorsopen"
                     ng-minlength="1" ng-max-length="255">
            </div>
          </div>
          <div class="form-group"
               ng-class="{  'has-error' : _form.f_name.$invalid && _form.f_name.$touched}">
            <label class="col-xs-3" for="f_name">Name</label>
            <div class="col-xs-9">
              <input type="text"
                     class="form-control"
                     name="f_name"
                     ng-model="_form.entity.name"
                     ng-init="_form.entity.name=view.ContextService.currentShowDate.name"
                     ng-max-length="255">
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-3" for="f_ages">Ages</label>
            <div class="col-xs-9">
              <select class="form-control"
                      ng-options="item as item for item in ['all ages','21+']"
                      ng-init="_form.entity.ages=(view.ContextService.currentShowDate) ? view.ContextService.currentShowDate.ages : 'all ages'"
                      name="f_ages"
                      ng-model="_form.entity.ages">
              </select>
            </div>
          </div>
          <div class="form-group"
               ng-class="{  'has-error' : _form.f_billing.$invalid && _form.f_billing.$touched}">
            <label class="col-xs-3" for="f_billing">Billing</label>
            <div class="col-xs-9">
              <input type="text"
                     class="form-control"
                     name="f_billing"
                     ng-model="_form.entity.billing"
                     ng-init="_form.entity.billing=view.ContextService.currentShowDate.billing"
                     ng-max-length="8192">
            </div>
          </div>
          <div class="form-group"
               ng-class="{  'has-error' : _form.f_pricing.$invalid && _form.f_pricing.$touched}">
            <label class="col-xs-3" for="f_pricing">Pricing</label>
            <div class="col-xs-9">
              <input type="text"
                     class="form-control"
                     name="f_pricing"
                     ng-model="_form.entity.pricing"
                     ng-init="_form.entity.pricing=view.ContextService.currentShowDate.pricing"
                     ng-max-length="2048">
            </div>
          </div>
          <!-- TODO Bagging description for now-->
          <div class="form-group">
            <label class="col-xs-3" for="f_active">Active</label>
            <div class="col-xs-9">
              <select class="form-control"
                      ng-options="item as item for item in ['true','false']"
                      ng-init="_form.entity.active=(view.ContextService.currentShowDate) ? view.ContextService.currentShowDate.active.toString() : 'true'"
                      name="f_active"
                      ng-model="_form.entity.active">
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-3" for="f_status">Status</label>
            <div class="col-xs-9">
              <select class="form-control"
                      ng-options="item as item for item in ['on sale','sold out']"
                      ng-init="_form.entity.status=(view.ContextService.currentShowDate) ? view.ContextService.currentShowDate.status : 'on sale'"
                      name="f_status"
                      ng-model="_form.entity.status">
              </select>
            </div>
          </div>
        </div><!-- end input controls -->
  
        <div ng-show="view.errors && view.errors.length" class="form-errors">
          The following errors occurred:
          <div ng-repeat="error in view.errors" class="form-error-msg">
            {{error}}
          </div>
        </div>
      
      </div><!-- end panel-body -->
      <div class="panel-footer form-command">
        <button ng-disabled="_form.$invalid"
                type="submit"
                class="btn btn-sm btn-primary">Save</button>
        <button ng-click="cancelForm(_form)"
                type="button"
                class="btn btn-sm btn-primary">Cancel</button>
        <button ng-click="resetForm(_form);"
                type="reset"
                class="btn btn-sm btn-primary">Reset</button>
      </div>
    </div>
  </form>
</div>


<!--table.integer('show_id').references('id').inTable('shows').notNullable();-->
<!--table.timestamp('dateofshow').notNullable().comment('Date and show time');-->
<!--table.string('doorsopen').notNullable().defaultsTo('');-->
<!--table.string('name').notNullable().defaultsTo('')-->
<!--table.string('ages').notNullable().defaultsTo('all ages');-->
<!--table.string('billing', 8192).notNullable().defaultsTo('');-->
<!--table.string('pricing', 2048).notNullable().defaultsTo('');-->
<!--table.string('description', 8192).notNullable().defaultsTo('');-->
<!--table.boolean('active').defaultsTo(true);-->
<!--table.string('status').notNullable().defaultsTo('On Sale');-->