<div class="panel panel-area">
  <table class="table table-bordered table-striped table-condensed table-listing">
    <theader>
      <tr>
        <th>
          <button
            type="button"
            title="add new show"
            class="width-150 btn-add"
            ng-click="rowEdit('show');">
            <!--<i class="fa fa-plus" aria-hidden="true"></i>-->
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Add New Show
          </button>
        </th>
        <th>dates</th>
        <th>tickets</th>
        <!--<th>images</th>-->
      </tr>
    </theader>
    <tbody>
      <tr class="show-item" ng-repeat="show in view.showList">
        <td style="width:50%;">
          <div class="show-command">
            <button
              type="button"
              title="edit show"
              class=""
              ng-click="rowEdit('show', show);">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </button>
            <button
              type="button"
              title="edit image"
              class=""
              ng-disabled="true"
              ng-click="">
              <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
            </button>
            <button disabled
              type="button"
              title="page preview"
              class="">
              <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
            </button>
            <button disabled
              type="button"
              title="mobile preview"
              class="">
              <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
            </button>
            <button disabled
              type="button"
              title="visit"
              class="">
              <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
            </button>
            <button ng-if="show.ticketWarningIfEmpty().length === 0"
                    disabled
                    type="button"
                    title="ticket warning"
                    style="width:26px;height:26px;padding:0;"
                    class="btn btn-sm btn-danger">
              <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
            </button>
          </div>
          <div><h4>{{show.name}}</h4></div>
          <div><h5>{{show.venue}}</h5></div>
          <div>
            <span class="item-description"><small>{{show.description}}</small></span>
          </div>
        </td>
        <td width="25%">
          <div class="show-date-repeater btn-clr{{$index}}" ng-repeat="showdate in show.showdates">
            <button
              type="button"
              title="edit show date"
              class="width-175 btn-left btn-rpt"
              ng-click="rowEdit('showdate', showdate, show);">
              <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
              {{showdate.dateofshow | amDateFormat:'YYYY/MM/DD hh:mm a'}}
            </button>
          </div>
          <button
            type="button"
            title="add show date"
            class="width-100 btn-add"
            ng-click="rowEdit('showdate', null, show);">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Add Date
          </button>
        </td>
        <td>
          <div class="pull-left show-date-repeater btn-clr{{$index}}" style="width:100%;padding:5px 5px 2px 5px;margin-bottom:5px;" ng-repeat="showdate in show.showdates">
            <div style="font-size:.75em;font-weight:bold;color:#888;margin-top:-5px;margin-bottom:2px;">{{showdate.dateofshow | amDateFormat:'ddd YYYY/MM/DD hh:mm a'}}</div>
            <div class="col-xs-6 text-left ticket-container" style="padding-left:0;">
              
              <button ng-repeat="showticket in showdate.showtickets"
                type="button"
                title="edit ticket"
                class="width-100 btn-left btn-rpt btn-tkt"
                ng-click="rowEdit('showticket', showticket, showdate);">
                
                <!--<div>WARN {{showticket.activeWarning()}}</div>-->
                <span ng-if="showticket.displayWarning()" class="glyphicon glyphicon-warning-sign text-danger" aria-hidden="true"></span>
                <span ng-if="!showticket.displayWarning()" class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                
                <span class="pull-right text-right">
                  {{showticket.price | currency}}<br>
                  <span class="tkt-btn-inv">
                    {{showticket.allotted - (showticket.sold + showticket.refunded) }}/
                    {{showticket.allotted}}/
                    {{((showticket.sold - showticket.refunded) * showticket.price) | currency}}
                  </span>
                </span>
                
              </button>
            </div><!-- end ticket container -->
            <div class="col-xs-6 text-right ticket-add-container" style="padding-right:0;">
              <button
                type="button"
                title="add ticket"
                class="pull-right width-90 btn-add "
                ng-click="rowEdit('showticket', null, showdate);">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Add Tix
              </button>
            </div>
          </div><!-- end of showdate loop -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
