<div class="Modal-backdrop"></div>
<div ui-view="modal"
     class="Modal-holder"
     autoscroll="false">
  <form name="_form"
        class="form-horizontal"
        novalidate
        ng-submit="submitForm(_form, 'showticket');">
    <div class="panel panel-primary panel-modal panel-area">
      <!--CURRENT {{view.ContextService.currentShowTicket}}-->
      <div class="panel-heading">
        <h4 class="panel-title col-xs-4">Show Ticket Editor</h4>
        
        <h4 class="panel-title col-xs-8 text-right" >
          <!--alot |{{!_form.entity.allotted || _form.entity.allotted.toString().trim().length}}|-->
          <a ng-if="!_form.entity.allotted ||
                    _form.entity.allotted.toString().trim().length === 0 ||
                    _form.entity.allotted <= 0 ||
                    !_form.entity.price ||
                    _form.entity.price.toString().trim().length === 0 ||
                    _form.entity.price == 0 ||
                    _form.entity.active.toString() !== 'true'"
             class="btn btn-sm btn-danger" style="margin-top:-8px;">
            <span ng-if="!_form.entity.price || _form.entity.price.toString().trim().length === 0 || _form.entity.price == 0">no price</span>
            <span ng-if="!_form.entity.allotted || _form.entity.allotted.toString().trim().length === 0 ||  _form.entity.allotted <= 0"> &nbsp; no inventory</span>
            <span ng-if="_form.entity.active.toString() !== 'true'"> &nbsp; not active</span>
            <span class="glyphicon glyphicon-warning-sign"></span>
          </a>
        </h4>
      </div>
      <div class="panel-body" style="padding-top:2em;">
        <div class="input-controls">
          <div class="form-group"
               ng-class="{  'has-error' : _form.f_name.$invalid && _form.f_name.$touched}">
            <label class="col-xs-3" for="f_name">Name</label>
            <div class="col-xs-9">
              <input type="text"
                     class="form-control"
                     name="f_name"
                     ng-model="_form.entity.name"
                     ng-init="_form.entity.name=view.ContextService.currentShowTicket.name"
                     ng-max-length="512">
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-3" for="f_ages">Ages</label>
            <div class="col-xs-9">
              <select class="form-control"
                      ng-options="item as item for item in ['all ages','21+']"
                      ng-init="_form.entity.ages=(view.ContextService.currentShowTicket) ? view.ContextService.currentShowTicket.ages : 'all ages'"
                      name="f_ages"
                      ng-model="_form.entity.ages">
              </select>
            </div>
          </div>
          <!-- TODO Bagging description for now-->
          <div class="form-group"
               ng-class="{  'has-error' : _form.f_price.$invalid && _form.f_price.$touched}">
            <label class="col-xs-3" for="f_price">Price</label>
            <div class="col-xs-9">
              <input type="text"
                     class="form-control"
                     name="f_price"
                     ng-model="_form.entity.price"
                     ng-init="_form.entity.price=view.ContextService.currentShowTicket.price"
                     ng-pattern="/^[0-9]{1,7}(\.[0-9]+)?$/">
              <!--//TODO validate decimal input -->
            </div>
          </div>
          <!-- TODO Bagging pricedetail for now-->
          <!-- TODO Bagging pricedos for now-->
          <!-- TODO Bagging pricedosdetail for now-->
          <div class="form-group">
            <label class="col-xs-3" for="f_deliveryoptions">Delivery</label>
            <div class="col-xs-9">
              <select class="form-control"
                      ng-options="item as item for item in ['willcall','print at home','ground service']"
                      ng-init="_form.entity.deliveryoptions=(view.ContextService.currentShowTicket && view.ContextService.currentShowTicket.deliveryoptions.length) ? view.ContextService.currentShowTicket.deliveryoptions[0] : 'willcall'"
                      name="f_deliveryoptions"
                      ng-model="_form.entity.deliveryoptions">
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-3" for="f_active">Active</label>
            <div class="col-xs-9">
              <select class="form-control"
                      ng-options="item as item for item in ['true','false']"
                      ng-init="_form.entity.active=(view.ContextService.currentShowTicket) ? view.ContextService.currentShowTicket.active.toString() : 'true'"
                      name="f_active"
                      ng-model="_form.entity.active">
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-xs-3" for="f_status">Status</label>
            <div class="col-xs-9">
              <select class="form-control"
                      ng-options="item as item for item in ['on sale','sold out']"
                      ng-init="_form.entity.status=(view.ContextService.currentShowTicket) ? view.ContextService.currentShowTicket.status : 'on sale'"
                      name="f_status"
                      ng-model="_form.entity.status">
              </select>
            </div>
          </div>
  
          <div class="form-group"
               ng-class="{  'has-error' : _form.f_allotted.$invalid && _form.f_allotted.$touched}">
            <label class="col-xs-3" for="f_allotted">Allotted</label>
            <div class="col-xs-2">
              <input type="number"
                     class="form-control"
                     name="f_allotted"
                     ng-model="_form.entity.allotted"
                     ng-init="_form.entity.allotted=view.ContextService.currentShowTicket.allotted"
              >
            </div>
            <div class="col-xs-7 inventory-container">
              <span class="badge badge-primary inventory-name">Sold
                <span class="badge badge-default">{{(view.ContextService.currentShowTicket) ? view.ContextService.currentShowTicket.sold : 0}}</span>
              </span>
              <!--<span class="badge badge-primary inventory-name">Refunds-->
                <!--<span class="badge badge-default">{{view.ContextService.currentShowTicket.refunded}}</span>-->
              <!--</span>-->
              <span class="badge badge-primary inventory-name">Avail
                <span class="badge badge-default">{{(view.ContextService.currentShowTicket) ? (view.ContextService.currentShowTicket.allotted - (view.ContextService.currentShowTicket.sold + view.ContextService.currentShowTicket.refunded)) : 0 }}</span>
              </span>
              <span class="badge badge-primary inventory-name">Sales
                <span class="badge badge-default">{{(view.ContextService.currentShowTicket) ? ((view.ContextService.currentShowTicket.sold - view.ContextService.currentShowTicket.refunded) * view.ContextService.currentShowTicket.price) : 0 | currency}}</span>
              </span>
            </div>
            <div class="entity-warnings">
              
            </div>
          </div>
          
        </div><!-- end input controls -->
  
        <div ng-show="view.errors && view.errors.length" class="form-errors">
          The following errors occurred:
          <div ng-repeat="error in view.errors" class="form-error-msg">
            {{error}}
          </div>
        </div>
      
      </div><!-- end panel-body -->
      <div class="panel-footer form-command row">
        <div class="col col-xs-5">
          <button ng-disabled="(!_form.entity.name && !_form.entity.price) || _form.$invalid"
                  type="submit"
                  class="btn btn-sm btn-primary">Save</button>
          <button ng-click="cancelForm(_form)"
                  type="button"
                  class="btn btn-sm btn-primary">Cancel/Close</button>
          <button ng-click="resetForm(_form);"
                  type="reset"
                  class="btn btn-sm btn-primary">Reset</button>
        </div>
        <div class=" col-xs-5">
          <div style="height:30px;line-height:30px;" ng-show="view.getSuccessMessage().trim().length > 0" class="text-success"><strong>{{view.getSuccessMessage()}}</strong></div>
        </div>
        <div class="col col-xs-2 text-right">
          <button ng-disabled="true"
                  type="button"
                  class="btn btn-sm btn-primary pull-right">Sync to Stripe</button>
        </div>
      </div>
    </div>
  </form>
</div>