<nav ng-controller="HeaderCtrl" class="navbar navbar-default navbar-static-top">
  <!--<div>Current {{view.ContextService.currentMember}}</div>-->
  <div class="container">
    <a class="pull-right stripe-power" ng-href="https://stripe.com/" title="Stripe.com">
      <img src="/images/stripe_solid.png"/>
    </a>
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target="#navbar" class="navbar-toggle collapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a ui-sref="home" class="navbar-brand">WillCallTickets</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!--<li ng-class="{ active: isActive('/')}"><a ui-sref="home">Home</a></li>-->
        <!--<li ng-class="{ active: isActive('/users/profile')}"><a ui-sref="profile">Profile</a></li>-->
        <!--<li ng-class="{ active: isActive('/admin')}"><a ui-sref="admin">Admin</a></li>-->
        <!--<li ng-class="{ active: isActive('/admin/brochures')}"><a ui-sref="brochures">Brochures</a></li>-->
        <!--<li ng-class="{ active: isActive('/orders/verify')}"><a ui-sref="orders_verify">Order</a></li>-->
  
        <li ng-class="{ active: isActive('/store/shows')}"><a ui-sref="store.shows">Store</a></li>

        <li ng-show="!view.ContextService.currentMember"
            ng-class="{ active: isActive('/members/signin')}">
          <a ui-sref="members.signin">Join Us</a></li>
        <li ng-show="view.ContextService.currentMember"
            ng-class="{ active: isActive('/members/shows')}">
          <a ui-sref="members.shows">Members Area</a></li>
      </ul>
  </div>
    
    
    
</nav>
