<div class="panel panel-area store-cart" style="float:left;width:100%;">
  <h3 class="text-center">Shopping Cart</h3>
  <h3 style="padding-left:.5em;padding-right:.5em;">
    <button ng-disabled="view.CartService.cartBasket.length === 0"
            class="btn btn-success btn-lg"
            ui-sref="store.checkout"
            style="width:100%;margin-bottom:1em;"
      >Check Out</button>
    <div>
      <span><small>{{view.CartService.cartBasket.length}} items</small></span>
      <span class="pull-right"><small><strong>{{view.CartService.getCartTotal() | currency}}</strong></small></span>
    </div>
  </h3>
  
  <div class="col-xs-12 btn-clr{{($index%8)}}" style="padding:4px;" ng-repeat="itm in view.CartService.cartBasket">
    <div class="col-xs-2" style="padding:0;">
      <select class="form-control"
              ng-change="view.CartService.updateQuantity(itm);"
              ng-options="opt as opt for opt in [0,1,2,3,4,5,6]"
              ng-init="changed=itm.qty"
              name="f_qty"
              ng-model="itm.qty">
      </select>
    </div>
    
    <div class="col-xs-7">
      <h5 style="margin:0">{{itm.mainDesc}}</h5>
      <div ng-repeat="desc in itm.secondaryDesc" style="padding-right:1em;font-size:.8em;">
        {{desc}}
      </div>
    </div>
    <div class="col-xs-2 text-right">
      {{itm.lineItemTotal() | currency}}
    </div>
  </div>
  <!--{{view.CartService.cartBasket}}-->
</div>
